@import "tailwindcss";

@theme {
  --radius-4xl: 2.5rem;
  --radius-5xl: 3.5rem;
}

:root {
  --bg-main: #f3f4f6;
  --bg-card: #ffffff;
  --text-main: #111827;
}

.dark {
  --bg-main: #0a0b0d;
  --bg-card: #16181d;
  --text-main: #f9fafb;
}

body {
  @apply transition-colors duration-500;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Inter', system-ui, sans-serif;
  overflow: hidden;
}

/* Scrollbar Custom */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-700 rounded-full;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}