@import "tailwindcss";

@theme {
  --radius-4xl: 2.5rem;
  --radius-5xl: 3.5rem;
}

:root {
  --bg-main: #f1f5f9;
  --bg-card: #ffffff;
  --bg-card-2: #f8fafc;
  --bg-input: #f1f5f9;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --border: #e2e8f0;
}

.dark {
  --bg-main: #0a0b0d;
  --bg-card: #16181d;
  --bg-card-2: #1c1f26;
  --bg-input: #1c1f26;
  --text-main: #f9fafb;
  --text-muted: #9ca3af;
  --border: #1f2937;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Inter', system-ui, sans-serif;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 999px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}